
gcc-arm-10.3-2021.07-x86_64-arm-none-linux-gnueabihf.tar.xz
training_embedded_linux_v3

S11_I2C/code/*.ko.cmd
S11_I2C/code/*.mod.cmd
S11_I2C/code/*.mod.o.cmd
S11_I2C/code/*.o.cmd
S11_I2C/code/*.ko
S11_I2C/code/*.mod
S11_I2C/code/*.mod.c
S11_I2C/code/*.mod.o
S11_I2C/code/*.o
S11_I2C/code/*.symvers
S11_I2C/code/*.order

S11_I2C/ssd1306_code/*.ko.cmd
S11_I2C/ssd1306_code/*.mod.cmd
S11_I2C/ssd1306_code/*.mod.o.cmd
S11_I2C/ssd1306_code/*.o.cmd
S11_I2C/ssd1306_code/*.ko
S11_I2C/ssd1306_code/*.mod
S11_I2C/ssd1306_code/*.mod.c
S11_I2C/ssd1306_code/*.mod.o
S11_I2C/ssd1306_code/*.o
S11_I2C/ssd1306_code/*.symvers
S11_I2C/ssd1306_code/*.order